<html>
    <head>
        <title>Socket.io</title>
        <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    </head>
    <body>
        <p>Username</p>
        <input id='username' type="text">
        <button onclick='login()'>Login</button>
        <br>
        <p>Izaberi korisnika</p>
        <select id="korisnici">
                <option>Korisnici</option>
        </select> <br>
        <br><br>
        <p>Poruka</p>
        <input id='message_input' type="text">
        <p>Send message to selected user</p>
        <button onclick="sendMessage()">Send Message</button>

        <br><br>

        <p id='nova_poruka'>OVDE CE STICI NOVA PORUKA</p>

        <script>
        var socket = io('http://localhost:3000')

            //ovde prihvata novog korisnika i appenduje ga u select
        socket.on('novi_korisnik', data=>{
            var option = document.createElement("option");
            option.text = data.username;
            option.value = data.id;
            var select = document.getElementById('korisnici')
            select.append(option)
        })

        

        socket.on('new_message', data=>{
            document.getElementById('nova_poruka').innerHTML = data.message
        })

        function login(){
            //Ovde salje svoj username
            var username = document.getElementById('username').value
            socket.emit('login', {username})
        }

        //Ovde se salje ID korisnika kome zelimo da prosledimo poruku i text poruke
        function sendMessage(){
            var send_to = document.getElementById('korisnici').value
            var message = document.getElementById("message_input").value
            socket.emit('send_message', {id:send_to, message})
        }
        </script>
    </body>
</html>